@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#F3876D, #F3876D);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    font-size: 20px;
}
header ul li a:hover
{
    background: #fff;
    color: #F3876D;
}
.activo{
    background: #fff;
    color: #F3876D;
}
section#principal
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#principal::before
{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #F3876D, transparent);
    z-index: 1000;

}
.imagen-principal
{   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#frente
{
    z-index: 10;
}
#texto
{
    position: absolute;
    right: -350px;
    color: #fff;
    white-space: nowrap;
    font-size: 7vw;
    z-index: 9;
    transform: translateY(80px);
}
.sec
{
    position: relative;
    padding: 100px;
    background: #F3876D;
}
.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p
{
    font-size: 1.2em;
    color: #fff;
}
#graphs
{
    background: #F3876D;
    color: #fff;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}
section ul
{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    margin-bottom: 20px;
    background: #F3876D;

}
section ul li
{
    list-style: none;
    background: #fff;
    padding: 12px 25px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    color: black;
    border-radius: 30px
}
section ul li.active
{
    background: #F9B792;
    color: #fff;
}
#fcomparador{
    margin-top: 60px;
}
/* .zona_graficos
{
   display: flex; 
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;  
   background: #F3876D;
}
.zona_graficos .grafico
{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
    display: block;
    background: #F3876D;
}
.zona_graficos .grafico img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
main {
position: relative;
}
section#precios{
    width: 1300px;
    height: 500px;
    background: #F9B792;
    padding: 30px;
    /* position: absolute; */
    z-index: 1;
    top: 50px;
    border-radius: 20px;
}
section#condiciones, section#desperdicio, section#transparencia{
    width: 1300px;
    height: 500px;
    background: #F9B792;
    padding: 30px;
    /* position: absolute; */
    z-index: auto;
    top: 50px;
    border-radius: 20px;
    /* visibility: hidden; */
}
section#precios h2, section#condiciones h2, section#desperdicio h2, section#transparencia h2{
font-size: 30px;
}
section#precios p, section#condiciones p, section#desperdicio p, section#transparencia p{
    width: 400px;
    height: 500px;
    font-size: 18px;
}
section#precios ul, section#condiciones ul, section#desperdicio ul, section#transparencia ul{
    width: 400px;
    height: 500px;
    font-size: 18px;
}
.infomarcas{
    width: 340px;
    /* height: 600px; */
    background: #F9B792;
    padding: 30px;
    position: absolute;
    z-index: auto;
    top: 250px;
    border-radius: 20px;
}
#shein{
    top: 200px;
    left: 20px;
}
#hym{
    top: 200px;
    left: 375px;
}
#zara{
    top: 200px;
    left: 730px;
}
#levis{
    top: 200px;
    left: 1085px;
}
h1, h2{
    color: #fff;
}
.fprecios, .fcondiciones, .fdesperdicios, .ftransparencia{
    display: none;
    padding-top: 10px;
}
.tooltip{
    position: relative;
}
.bottom{
    background: #fbcfb6;
    color: black;
    padding: 5px 8px;
    border-radius: 5px;
    position: absolute;
    font-weight: bold;
    top: -10px;
    left: -10px;
    width: 310px;
    visibility: hidden;
    transition: 0.5s;
    opacity: 0;
}
.tooltip:hover .bottom{
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
    
}
#disclaimer{
padding: 20px;
color: #fff;
position: relative;
top: 520px;
font-size: small;
}

.primera-columna {
    width:40%;
    float: left;
    margin:20px;
}
